* {
	box-sizing: border-box;
}
body {
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #fff;
	max-width: 1600px;
	margin: 0 auto;
	background-color:  #fff;
}
nav {
	background-color: #4D4D4D;
	display: flex;
	width: 100%;
	height: 150px;
	justify-content: space-between;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}
nav > .logo {
	margin: 10px 0 0 50px;
}
nav > .logo > h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 900;
}
nav > .logo > p {
	margin: 0;
	font-size: 24px;
}
nav > ul {
	width: 50%;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;
	padding: 10px;
}
nav > ul > li {
	justify-content: center;
	margin: 0 20px;
	text-align: center;
}
nav > ul > li > a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	text-decoration: none;
}
nav > ul > li > a:hover {
	opacity: 0.7;
	}
.flex-container {
	display: flex;
	background-color: #EFEFEF;
	height: calc(100vh - 150px);
	margin: 0;
	padding: 0;
}
.col1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	color: #4D4D4D;
	width: 50%;
	text-align: center;
}
.col1 > img {
	display: none;
}
.col1 > .icons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 70px;
}
.col1 > .icons > .button {
	width: 125px;
	height: 125px;
	border-radius: 90%;
	margin: 20px 4px;
}
.col1 > .icons > .button:hover {
	background-color: #4D4D4D;
	transition: .35s linear;
	cursor: pointer;
	}
.col1 > .icons > .but1 {
	background-color:#FD4A1B;
	margin-left: 2%;
}
.col1 > .icons > .but2 {
	background-color: #F8B732;
}
.col1 > .icons > .but3 {
	background-color: #4ABCAD;
	margin-right: 2%;
}
.col1 > .icons > .button > a {
	line-height: 125px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.col1 > h1 {
	font-size: 44px;
	font-weight: 900;
	margin: 15px 0 0;
}
.col1 > h2 {
	font-size: 30px;
	font-weight: 900;
	margin: 8px;
}
.col1 > h3 {
	font-size: 22px;
	margin: 8px 0 25px;
}
.col1 > p {
	font-size: 16px;
	padding: 25px 0;
}
.col2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.col2 img {
	max-width: 70%;
	border-radius: 90%;
}

.resume {
	position: relative;
	height: 100vh;
	color: #4D4D4D;
	background-color: #F8B732;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6% 10%;
	text-align: center;
}
.resume > .cv {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5%;
}
.resume > .cv > button {
	margin: 6%;
	width: 200px;
	height: 200px;
	border: none;
	background-color: #4D4D4D;
	color: #4D4D4D;
	border-radius: 90%;
	text-transform: uppercase;
}
.resume > .cv > button:hover {
	background-color: #FD4A1B;
	transition: .35s linear;
	cursor: pointer;
}
.resume > .cv > button > i {
	font-size: 80px;
	line-height: 200px;
	color: #fff;
}
.resume > .cv > button > h2 {
	color: fff;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100vh;
	position: relative;
	background-color: #4ABCAD;
}
.portfolio > .square {
	background-color: red;
	max-width: 33.3%;
	height: 50%;
	position: relative;
}
.portfolio > .square > img {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: black;
}
.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
.layer > button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #4ABCAD;
    opacity: 0.9;
}
.layer > button:hover {
	background-color: #FD4A1B;
	}
.layer:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.portfolio > .square1 {
	background-color: #AF9483;
}
.portfolio > .square2 {
	background-color: #B18F6A;
}
.portfolio > .square3 {
	background-color: #92B558;
}
.portfolio > .square4 {
	background-color: #92B558;
}
.portfolio > .square5 {
	background-color: #98B4D4;
}
.portfolio > .square6 {
	background-color: #AF9483;
}
.contact {
	background-color: #FD4A1B;
	height: 100vh;
	position: relative;
}
.contact > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.contact > form > input {
	padding: 10px;
	border: none;
	width: 60%;
	margin: 0 auto;
}
.contact > form > textarea {
	border: none;
	width: 70%;
	margin: 0 auto;
}
.contact > form > label {
	padding: 10px 0 5px;
}
#submit {
	background-color: #4D4D4D;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	width: 100px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
#submit:hover {
	color: #4ABCAD;
	transition: .5s;
}
footer {
	background-color: #4D4D4D;
	color: #fff;
	display: flex;
	text-align: center;
	font-size: 12px;
}
footer > .fot {
	display: flex;
	align-items: center;
	width: 33.3%;
	height: 200px;
	padding: 10px;
	text-align: left;
}
footer > .fot > .data > h1 {
	font-size: 16px;
}
footer > .fot > i {
	font-size: 40px;
	margin: 10px;
	padding: 10px;
	background-color: #4D4D4D;
	border: 1px solid #FFEAE0;
	border-radius: 90%;
	width: 80px;
	height: 80px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.data > i {
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;

}
footer > .fot > data {
	margin: 0;
	padding: 0;
}
.scroll {
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 10px;
	right: calc(50% - 20px);
}
.scroll > .fa-chevron-up {
	font-size: 40px;
	color: #fff;
}
.scroll > .fa-chevron-up:hover {
	color: #4D4D4D;
}
.popup_outside {
	display: none;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 9000;
}
.popup_inside {
	font-family: 'Ranchers', cursive;
	font-size: 125%;
	letter-spacing: 1.5px;
	background-color: gray;
	padding: 20px;
	width: 70%;
	height: 80vh;
	margin: auto;
	text-align: center;
	border-radius: 5%;
	position: relative;
	top: calc(50% - 40vh);
}
.close {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 40px;
	cursor: pointer;
}
.data > button{
	cursor: pointer;
	background-color: #4D4D4D;
	border: none;
	color: #fff;
}
.data > button > a {
	color: #fff;
	text-decoration: none;
}

/* Media dla 641px do 991px */

@media(min-width: 641px) and (max-width: 991px) {

.flex-container {
	height: calc(100vh - 90px);
}
.col1 {
	padding: 25px;
}
nav {
	width: 100%;
	height: 100px;
	padding: 6px;
	font-size: 14px;
}
nav > .logo > h1 {
	font-size: 26px;
}
nav > .logo > p {
	font-size: 16px;
}
nav > .logo > h1 {
	font-size: 24px;
}
nav > .logo > p {
	font-size: 18px;
}
nav > ul {
	width: 60%;
	padding: 8px;
}
nav > ul > li {
	margin: 0 15px;
}
nav > ul > li > a {
	font-size: 12px;
}
.col1 > .icons > .button {
	width: 90px;
	height: 90px;
	border-radius: 90%;
	margin: 4px;
}
.col1 > .icons {
	margin: 25px;
}
.col1 > .icons > .button > a {
	line-height: 90px;
}
.col1 > h1 {
	font-size: 26px;
}
.resume > .cv > button {
	width: 150px;
	height: 150px;
}
.resume > .cv > button > i {
	font-size: 60px;
	line-height: 150px;
}
footer > .fot > i {
	border: none;
}
}
/*Media dla ponizej 640px */

@media(max-width: 640px) {

body {
	max-width: 640px;
}
nav {
	height: 100px;
	padding: 5px;
}
nav > .logo {
	margin: 10px 0 0 10px;
	width: 100%;
	text-align: center;
}
nav > .logo > h1 {
	font-size: 34px;
}
nav > .logo > p {
	font-size: 20px;
}
nav > ul {
	display: none;
}
.flex-container {
	height: calc(100vh - 100px);
	flex-direction: column;
}
.col1 {
	display: block;
	padding: 20px;
	width: 100%;
}
.col1 > img {
	display: inline;
	border-radius: 90%;
	width: 45%;
}
.col1 > .icons {
	display: none;
}
.col1 > h1 {
	font-size: 34px;
}
.col1 > h2 {
	font-size: 24px;
}
.col1 > h3 {
	font-size: 20px;
}
.col1 > p {
	font-size: 16px;
	margin: 0;
}
.col2 {
	display: none;
}

.resume {
	display: inline-block;
	margin: auto;
}
.resume > h1 {
	font-size: 20px;
}
.resume > .cv {
	display: block;
	margin: 0 auto;
}
.resume > .cv > button {
	text-align: center;
	margin: 12% 5%;
	width: 140px;
	height: 140px;
	color: #fff;
}
.resume > .cv > button > i {
	font-size: 60px;
	line-height: 140px;
}
.portfolio {
	display: none;
	background-color: #4ABCAD;
}
footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	font-size: 10px;
}
footer > .fot {
	width: 60%;
	height: 60px;
	margin: 20px;
	padding: 10px;
}
footer > .fot > .data > h1 {
	font-size: 14px;
}
footer > .fot > i {
	font-size: 25px;
	margin: 10px;
	padding: 10px;
	border: none;
	width: 0px;
	height: 80px;
	align-items: center;
	justify-content: center;
	display: flex;
}
.data > i {
	font-size: 20px;
	padding-right: 10px;
	padding-left: 10px;
}

.row::before,
.row::after {
content: "";
display: table;
clear: both;
}